@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

@media screen and (1400px <= width) {
    header {
        display: grid;
        grid-template-columns: 1fr 6fr;
        width: 100%;
        border-bottom: solid 3px var(--border-header);
        -webkit-box-shadow: 4px 10px 14px 2px var(--bx-shadow);
        -moz-box-shadow: 4px 10px 14px 2px var(--bx-shadow);
        box-shadow: 4px 10px 14px 2px var(--bx-shadow);
    }

    .menu {
        padding: 0px 80px 0px 0px;
    }

    .menu li { 
        font-size: 24px;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 24px;
    }

    button {
        font-size: 24px;
        padding: 10px 15px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .log {
        margin: 0;
        padding: 0;
    }

    .container {
        font-size: 24px;
        padding: 100px 0px 20px 0px;
        display: grid;
        grid-template-rows: 3fr 1fr;
    }

    #citat {
        font-size: 22px;
    }

    #osn {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #cit {
        display: grid;
        grid-template-columns: 1fr 14fr;
    }

    #test li {
        font-size: 20px;
    }
}

@media screen and (1200px <= width < 1400px) {
    header {
        display: grid;
        grid-template-rows: 0.8fr 1fr;
        width: 100%;
        border-bottom: solid 3px var(--border-header);
        -webkit-box-shadow: 4px 10px 14px 2px var(--bx-shadow);
        -moz-box-shadow: 4px 10px 14px 2px var(--bx-shadow);
        box-shadow: 4px 10px 14px 2px var(--bx-shadow);
    }

    .menu {
        padding: 0px 30px 0px 30px;
    }

    .menu li { 
        font-size: 24px;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 24px;
    }

    button {
        font-size: 24px;
        padding: 10px 15px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .log {
        margin: 0;
        padding: 0;
    }

    .container {
        font-size: 24px;
        padding: 200px 0px 20px 0px;
        display: grid;
        grid-template-rows: 1fr auto;
    }

    #citat {
        font-size: 22px;
    }

    #cit img {
        margin-top: 20px !important;
    }

    #osn {
        display: grid;
        grid-template-rows: 1fr auto;
    }

    #cit {
        display: grid;
        grid-template-columns: 1fr 14fr;
    }

    #test li {
        font-size: 20px;
    }

}

@media screen and (960px <= width < 1200px) {
    header {
        display: grid;
        grid-template-rows: 0.8fr 1fr;
        width: 100%;
        border-bottom: solid 3px var(--border-header);
        -webkit-box-shadow: 4px 10px 14px 2px var(--bx-shadow);
        -moz-box-shadow: 4px 10px 14px 2px var(--bx-shadow);
        box-shadow: 4px 10px 14px 2px var(--bx-shadow);
    }

    .menu {
        padding: 0px 20px 0px 20px;
    }

    .menu li { 
        font-size: 20px;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
    }

    button {
        font-size: 20px;
        padding: 10px 15px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    #imgHi img {
        width: 300px !important;
        height: 300px !important;
    }

    .log {
        margin: 0;
        padding: 0;
    }

    .container {
        font-size: 20px;
        padding: 200px 0px 20px 0px;
        display: grid;
        grid-template-rows: 1fr auto;
    }

    #citat {
        font-size: 18px;
    }

    #osn {
        display: grid;
        grid-template-rows: 1fr auto;
    }

    #cit {
        display: grid;
        grid-template-columns: 1fr 7fr;
    }

    #cit img {
        width: 80px;
        margin-top: 20px !important;
        margin-bottom: 20px;
    }

    #test li {
        font-size: 18px;
    }
    
}

@media screen and ( width < 960px) {
    header {
        width: 20%;
        height: 100%;
        border-right: solid 2px var(--border-header);
        -webkit-box-shadow: 9px -3px 11px 2px var(--bx-shadow);
        -moz-box-shadow: 9px -3px 11px 2px var(--bx-shadow);
        box-shadow: 9px -3px 11px 2px var(--bx-shadow);
    }

    .menu {
        padding: 0px 20px 0px 20px;
    }

    .menu li { 
        font-size: 14px;
        padding: 10px 0px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    footer {
        align-items: center;
        font-size: 14px;
        text-align: right !important;
    }

    button {
        font-size: 12px;
        padding: 2px;
    }

    .menu {
        align-items: center;
        position: relative;
        padding: 0 !important;
        margin: 0 !important;
    }

    #H {
        font-size: 30px !important;
        margin: -5px !important;
    }
    
    #lg {
        font-size: 10px !important;
    }
    
    #lg2 {
        font-size: 8px !important;
    }

    .log {
        margin: 0;
        padding: 1px;
    }

    .container {
        width: 80% !important;
        font-size: 12px;
        margin: 0;
        padding-left: 20%;
        display: grid;
        grid-template-rows: 1fr auto;
    }

    #hi {
        padding-left: 30px !important;
    }

    #imgHi img {
        width: 160px !important;
        height: 160px !important;
    }

    #citat {
        font-size: 9px;
    }

    #osn {
        display: grid;
        grid-template-rows: 1fr auto;
    }

    #cit {
        display: grid;
        grid-template-columns: 1fr 7fr;
        margin-bottom: 0 !important;
        padding-left: 20px !important;
    }

    #cit img {
        width: 40px;
        margin-top: 20px !important;
        margin-bottom: 20px;
    }

    h3 {
        margin-top: 0;
        padding-top: 15px;
    }

    .cont-text {
        margin: 0;
        padding: 12px;
    }
    
}

@media screen and (width < 300px) {
    header {
        width: 20%;
        height: 100%;
        border-right: solid 2px var(--border-header);
        -webkit-box-shadow: 9px -3px 11px 2px var(--bx-shadow);
        -moz-box-shadow: 9px -3px 11px 2px var(--bx-shadow);
        box-shadow: 9px -3px 11px 2px var(--bx-shadow);
    }

    .menu {
        padding: 0px 20px 0px 20px;
    }

    .menu li { 
        font-size: 10px;
        padding: 10px 0px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    footer {
        align-items: center;
        font-size: 10px;
        text-align: right !important;
    }

    button {
        font-size: 9px;
        padding: 2px;
    }

    .menu {
        align-items: center;
        position: relative;
        padding: 0 !important;
        margin: 0 !important;
    }

    #H {
        font-size: 20px !important;
        margin: -3px !important;
    }
    
    #lg {
        font-size: 8px !important;
    }
    
    #lg2 {
        font-size: 6px !important;
    }

    .log {
        margin: 0;
        padding: 1px;
    }

    .container {
        width: 80% !important;
        font-size: 10px;
        margin: 0;
        padding-left: 20%;
        display: grid;
        grid-template-rows: 1fr auto;
    }

    #hi {
        padding-left: 30px !important;
    }

    #imgHi img {
        width: 120px !important;
        height: 120px !important;
    }

    #citat {
        font-size: 7px;
    }

    #osn {
        display: grid;
        grid-template-rows: 1fr auto;
    }

    #cit {
        display: grid;
        grid-template-columns: 1fr 6fr;
        margin-bottom: 0 !important;
        padding-left: 10px !important;
    }

    #cit img {
        width: 30px;
        margin-top: 10px !important;
    }

    h3 {
        margin-top: 0;
        padding-top: 15px;
    }

    .cont-text {
        margin: 0;
        padding: 10px;
    }

    #test li {
        font-size: 6px;
    }
}

#hi {
    margin: 0;
    padding-left: 50px;
    padding-right: 20px;
}

#imgHi img {
    width: 450px;
    height: 450px;
    border: solid 1px var(--border-header);
    -webkit-box-shadow: 0px 0px 20px 12px var(--bx-shadow);
    -moz-box-shadow: 0px 0px 20px 12px var(--bx-shadow);
    box-shadow: 0px 0px 20px 12px var(--bx-shadow);
}

#citat {
    font-style: italic;
}

#cit {
    height: auto;
    background-color: var(--cit-os);
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

#cit img {
    margin-top: 30px;
    margin-right: 10px;
}

#imgHi {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
   
}

header {
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.log {
    font-family: "Playfair Display", serif;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
}

.log:hover {
    text-decoration: none;
}

#H {
    font-weight: bold;
    font-size: 50px;
    margin: -13px;
    padding: 2px, 2px, 0px, 2px;
}

#lg {
    margin: 0;
    padding: 0px, 2px;
    font-weight: normal;
    font-size: 20px;
}

#lg2 {
    margin: 0;
    padding: 0px, 2px, 5px, 2px;
    font-weight: normal;
    font-size: 15px;
}

.menu li { 
    list-style: none;
    position: relative;
}

a {
    color: var(--text-color);
    font-weight: normal;
}

.menu ul { 
    position: absolute;
    left: 0;
    top: 100%;
    width: 170px;
    background-color: var(--bg-color);
    display: none;
    padding: 0;
}

#test li {
    padding: 15px 10px;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

#test {
    z-index: 1;
}

#tests:hover {
    cursor: default;
    text-decoration: none;
}

.menu li:hover ul {
    display: block;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    border-top: solid 3px var(--border-header);
    text-align: center;
    font-weight: bold;
    -webkit-box-shadow: 1px -12px 15px -1px var(--bx-shadow);
    -moz-box-shadow: 1px -12px 15px -1px var(--bx-shadow);
    box-shadow: 1px -12px 15px -1px var(--bx-shadow);
}

#tg {
    margin: 10px;
}

#gm {
    margin: 10px;
}

button {
    font-family: 'Times New Roman', Times, serif;
    border: solid 3px var(--border-button);
    border-radius: 3px;
}

.container {
    width: 100%;
    background-image: var(--bg-con);
    background-size: cover;
}

#light {
    z-index: 2;
    background-color: var(--bg-button1);
    color: var(--text-button1);
}

#dark {
    background-color: var(--bg-button2);
    color: var(--text-color);
}



:root {
    --text-color: rgb(0, 0, 0);
    --border-button:  rgb(46, 46, 46);
    --bg-button1: rgb(46, 46, 46);
    --bg-button2: #A0AECD;
    --border-header: rgb(46, 46, 46);
    --text-button1: white;
    --bg-color: #A0AECD;
    --bg-con: url("../img/bg_con.jpg");
    --bx-shadow: rgba(0, 0, 0, 0.24);
    --cit-os: #d5d5d5;
}

[data-theme="dark"] {
    --text-color: white;
    --border-button: rgb(230, 230, 250);
    --bg-button1: #A0AECD;
    --bg-button2: rgb(46, 46, 46);
    --border-header: #A0AECD;
    --text-button1: rgb(0, 0, 0);
    --bg-color: rgb(46, 46, 46);
    --bg-con: url("../img/bg_conDark.jpg");
    --bx-shadow: rgba(255, 255, 255, 0.24);
    --cit-os: #393939;
}